<!DOCTYPE html>
<html>

	
	<head>
			<title>Template Widget</title>
			
			
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		
		
			<!-- General CSS styles for Chameleon Widgets -->
			<link rel="stylesheet" href="http://chameleonlauncher.com/widgets/common/css/chameleon.css" />
			
			<!-- Your own CSS Styles -->
			<link rel="stylesheet" href="css/widget.css" />
			
			
		
			<!-- jQuery -->
			<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
			
			<!-- Chameleon Javascript access -->
			<script src="http://chameleonlauncher.com/widgets/common/js/chameleon.js" type="text/javascript"></script>
			
			<!-- jQuery extensions for Chameleon -->
			<script src="http://chameleonlauncher.com/widgets/common/js/chameleon.jquery.js" type="text/javascript"></script>
			
			
			<!-- 
				JS Lifecycle code for this widget
				Your code goes in here	
			 -->
			<script src="js/index.main.js" type="text/javascript"></script>
			
	</head>



	<body>
		
		<div id="chameleon-widget">
			<!--
				Target this div for all of your visual elements.
				Chameleon CSS assumes this div is present.
				Chameleon jQuery extensions assumes this div is present.
			-->		
		</div>
		
		
	</body>
	
	
</html>